.introduction-title{
    margin-left: 150px;
}

.border-line{
    margin-left: 100px;
}
.introduction-paragraph{
    margin-left: 100px;
}

.kali-pic-aboutme{
    position: absolute;
    top: 20%;
    left: 13.5%;
    width: 440px;
}