.book-container__wrapper{
    display: inline-block;
    width: 553px;
    height: 565px;
    
    border-right: 1px solid #202020;

    margin-top: 120px;
}


.form__wrapper{
    margin-left: 190px;
    margin-top: 135px;
}

.form__wrapper input{
    margin-bottom: 20px;

}

.messsagetextarea{
    max-width: 300px;
    min-width: 300px;

    min-height: 100px;
    max-height: 100px;
}

.book-subcontainer__wrapper{
    display: flex;
}

.together-image{
   position: absolute;
   top: 45%;
   left: 50%;
   transform: translate(0, -50%);
}

.letswork-image{
    position: absolute;
   top: 25%;
   left: 40%;
   transform: translate(0, -50%);
}

.contactme-image{
    position: absolute;
    top:-150px;
    left: 100px;
    width: 400px;
}

.submit-btn{
    margin-top: 20px;
    padding: 3px 20px;
    border: 1px solid #202020;
    background-color: #202020;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
}

.submit-btn:hover{
    background-color: #fff;
    color: #202020;
    border-radius: 3px;
    border: 1px solid #202020;
}


.sentmessage__wrapper{
    position: absolute;
    top:0;
    background-color: limegreen;
    width: 100vw;
}

.sentmessage__wrapper p{
    text-align: center;
    color: #fff;
    letter-spacing: 1px;
}

.failsendmessage_wrapper{
    position: absolute;
    top:0;
    background-color: #E10000;
    width: 100vw;
}

.failsendmessage_wrapper p{
    text-align: center;
    color: #fff;
    letter-spacing: 1px;
}

.messageHide{
    display: none;
}

.directmessageus__text{
    margin: 10px 0 0 190px;
    font-size: 11px;
    width:300px;
    color: rgba(0,0,0,0.5);
}
