.album-lists{
    margin:20px 0 0 40px;
    list-style: none;
}

.album-lists li {
    margin-top: 20px;
}

.album-lists li button{
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 15px;
}

.album-lists-container{
    /* background-color: blue; */
    overflow-y: auto;
    width: 280px;
    height: 100%;
}

.gallery-main-container{
    display: flex;
    height: 90vh;
}

.gallery{
    width: 80vw;
    -webkit-column-count: 5;
    -moz-column-count: 5;
    column-count: 5;
    -webkit-column-width: 33%;
    -moz-column-width: 33%;
    column-width: 33%;
    padding: 0 12px;
    overflow-y: auto;
}


/* COMING SOON - START */

.comingsoon__wrapper{
    margin-left: 300px;
}


/* COMING SOON - END */





/* COUPLE ALBUM - START */

.couple-albums__wrapper{
    display: grid;
    grid-template-columns: repeat(4, 350px);
}

.erinwayne__wrapper{
    height: 200px;
    width: 300px;

    margin-top: 20px;

    background-image: url(../images/erinwayneimages/ew44-thumbnail.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center; 
}

.erinwayne__wrapper:hover > .contents{
    height: 185px;
    width: 300px;
    margin-top: 8px;
    padding-top: 26.3%;
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.4));
}


.banishathomas__wrapper{
    height: 200px;
    width: 300px;

    margin-top: 20px;

    background-image: url(../images/banishathomasimages/bt-thumbnail.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center; 
}

.banishathomas__wrapper:hover > .contents{
    height: 185px;
    width: 300px;
    margin-top: 8px;
    padding-top: 26.3%;
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.4));
}


.emmajono__wrapper{
    height: 200px;
    width: 300px;

    margin-top: 20px;

    background-image: url(../images/emmajonoimages/ej-thumbnail.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center; 
} 

.emmajono__wrapper:hover > .contents{
    height: 185px;
    width: 300px;
    margin-top: 8px;
    padding-top: 26.3%;
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.4));
} 

.laryjack__wrapper{
    height: 200px;
    width: 300px;

    margin-top: 20px;

    background-image: url(../images/laryjackimages/lj-thumbnail.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center; 
} 

.laryjack__wrapper:hover > .contents{
    height: 185px;
    width: 300px;
    margin-top: 8px;
    padding-top: 26.3%;
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.4));
} 

.megansam__wrapper{
    height: 200px;
    width: 300px;

    margin-top: 20px;

    background-image: url(../images/megansamimages/ms-thumbnail-1.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center; 
}

.megansam__wrapper:hover > .contents{
    height: 100%;
    width: 100%;
    margin-top: 0px;
    /* padding-top: 26.3%; */
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.4));
}


.sheenaben__wrapper{
    height: 200px;
    width: 300px;

    margin-top: 20px;

    background-image: url(../images/sheenabenimages/sb-thumbnail.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center; 
} 

.sheenaben__wrapper:hover > .contents{
    height: 100%;
    width: 100%;
    margin-top: 0px;
    
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.4));
}


.tiaraaaron__wrapper{
    height: 200px;
    width: 300px;

    margin-top: 20px;

    background-image: url(../images/tiaraaaronimages/at-thumbnail.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center; 
}

.tiaraaaron__wrapper:hover > .contents{
    height: 185px;
    width: 300px;
    margin-top: 8px;
    padding-top: 26.3%;
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.4));
}





.contents{
    padding-top: 29%;
    text-align: center;
}

.contents button{
    background-color: transparent;
    border: none;
    color: #f3f3f3;
    cursor: pointer;
}


.backbtncouplealbum{
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 15px;

    position: absolute;
    top: 18px;
    left: 250px;
}
/* COUPLE ALBUM - END */



/* EVENT ALBUM - START */

.event-albums__wrapper{
    display: grid;
    grid-template-columns: repeat(4, 350px);
}

.mariabday__wrapper{
    height: 200px;
    width: 300px;

    margin-top: 20px;

    background-image: url(../images/birthdayimages/hb-thumbnail.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center; 
}

.mariabday__wrapper:hover > .contents{
    height: 185px;
    width: 300px;
    margin-top: 8px;
    padding-top: 26.3%;
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.4));
}





.aidens__wrapper{
    height: 200px;
    width: 300px;

    margin-top: 20px;

    background-image: url(../images/birthdayimages/Aidens/bday-thumbnail.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center; 
}

.aidens__wrapper:hover > .contents{
    height: 185px;
    width: 300px;
    margin-top: 8px;
    padding-top: 26.3%;
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.4));
}


/* EVENT ALBUM - END */








/* FAMILY ALBUM-START */

.family-albums__wrapper{
    display: grid;
    grid-template-columns: repeat(4, 350px);
}

.kaire-taiwhanga__wrapper{
    height: 200px;
    width: 300px;

    margin-top: 20px;

    background-image: url(../images/familyimages//KT-fam/kt-thumbnail.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center; 
}

.kaire-taiwhanga__wrapper:hover > .contents{
    height: 185px;
    width: 300px;
    margin-top: 8px;
    padding-top: 26.3%;
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.4));
}


/* FAMILY ALBUM-END */



/* ENGAGEMENT ALBUM - START */

.engagement-albums__wrapper{
    display: grid;
    grid-template-columns: repeat(4, 350px);
}

/* ENGAGEMENT ALBUM - END */