.album-lists{
    margin:20px 0 0 40px;
    list-style: none;
}

.album-lists li {
    margin-top: 20px;
}

.album-lists li button{
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 15px;
}

.album-lists-container{
    /* background-color: blue; */
    overflow-y: auto;
    width: 280px;
    height: 100%;
}

.gallery-main-container{
    display: flex;
    height: 90vh;
}

.gallery{
    width: 80vw;
    -webkit-column-count: 5;
    -moz-column-count: 5;
    column-count: 5;
    -webkit-column-width: 33%;
    -moz-column-width: 33%;
    column-width: 33%;
    padding: 0 12px;
    overflow-y: auto;
}


/* COMING SOON - START */

.comingsoon__wrapper{
    margin-left: 300px;
}


/* COMING SOON - END */





/* COUPLE ALBUM - START */

.couple-albums__wrapper{
    display: grid;
    grid-template-columns: repeat(4, 350px);
}

.erinwayne__wrapper{
    height: 200px;
    width: 300px;

    margin-top: 20px;

    background-image: url(../images/erinwayneimages/ew44-thumbnail.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center; 
}


.emmajono__wrapper{
    height: 200px;
    width: 300px;

    margin-top: 20px;

    background-image: url(../images/emmajonoimages/ej-thumbnail.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center; 
} 

.contents{
    padding-top: 29%;
    text-align: center;
}

.contents button{
    background-color: transparent;
    border: none;
    color: #f3f3f3;
    cursor: pointer;
}


.backbtncouplealbum{
    background-color: transparent;
    border: none;
    cursor: pointer;

    position: absolute;
    top: 15px;
    left: 250px;
}
/* COUPLE ALBUM - END */