

@media(max-width:1500px){

    /* IMAGES HERO - START */
    .img-one{
        height: 915px;
        width: 100%;
    }
    
    .img-two{
        height: 915px;
        width: 100%;
    }
    
    .img-three{
        height: 915px;
        width: 100%;
    }
    
    .img-four{
        height: 915px;
        width: 100%;
    }

    .arr-right{
        top: 40.5%;
        right: 10px;
        
    }
    
    .arr-left{
        left: 10px;
        
    }

    /* IMAGES HERO - END */

    /* NAVS- START */

    .social-ul{
        margin:10px 0 0 50px;
    }
    
    .navigation-ul{
        margin:10px 0 0 105px;
    }

    .navigation-ul li{
        margin-right: 100px;
    }

    /* NAVS - END */


}

@media(max-width:1400px){

    /* NAVS- END */

    .social-ul{
        margin:10px 0 0 10px;
    }
    
    .navigation-ul{
        margin:10px 0 0 110px;
    }
    /* NAVS - END */
}


@media(max-width:1300px){

    /* BOOK - START */
    .together-image{
        top: 40%;
        left: 50%;

        width: 400px;
     }
     
     .letswork-image{
        top: 25%;
        left: 50%;

        width: 400px;
     }


    /* BOOK - END */

    /* NAVS- END */

    .social-ul{
        margin:10px 0 0 10px;
    }
    
    .navigation-ul{
        margin:10px 0 0 70px;
    }
    /* NAVS - END */
}

@media(max-width:1253px){

    /* NAVS- END */

    .social-ul{
        margin:10px 0 0 10px;
    }
    
    .navigation-ul{
        margin:10px 0 0 0px;
    }

    .navigation-ul li button{
        font-size: 15px;
    }
    /* NAVS - END */
}

@media(max-width:1200px){

    
    
    /* NAVS- END */

    .social-ul{
        margin:10px 0 0 10px;
    }
    
    .navigation-ul{
        margin:10px 0 0 40px;
    }
    /* NAVS - END */
}

@media(max-width:1120px){

    /* BOOK - START */
    .together-image{
        top: 40%;
        left: 55%;

        width: 400px;
     }
     
     .letswork-image{
        top: 25%;
        left: 55%;

        width: 400px;
     }


    /* BOOK - END */

    
    /* NAVS- END */

    .social-ul{
        margin:10px 0 0 0px;
    }
    
    .navigation-ul{
        margin:10px 0 0 50px;
    }

    .navigation-ul li{
        margin-right: 90px;
    }
    /* NAVS - END */
}

@media(max-width:1059px){
    
    /* NAVS- END */

    .social-ul{
        margin:10px 0 0 0px;
    }
    
    .navigation-ul{
        margin:10px 0 0 90px;
    }

    .navigation-ul li{
        margin-right: 70px;
    }
    /* NAVS - END */
}

@media(max-width:982px){

    
    /* NAVS- END */

    .social-ul{
        margin:10px 0 0 0px;
    }
    
    .navigation-ul{
        margin:10px 0 0 100px;
    }

    .navigation-ul li{
        margin-right: 50px;
    }
    /* NAVS - END */
}

@media(max-width:900px){
    /* BOOK - START */
    .together-image{
        top: 40%;
        left: 59%;

        width: 300px;
    }
    
    .letswork-image{
        top: 25%;
        left: 59%;

        width: 300px;
    }


    /* BOOK - END */

    
    /* NAVS- END */

    .social-ul{
        margin:10px 0 0 -20px;
    }
    
    .navigation-ul{
        margin:10px 0 0 110px;
    }

    .navigation-ul li{
        margin-right: 40px;
    }
    /* NAVS - END */
}

@media(max-width:857px){
        /* BOOK - START */
        .book-container__wrapper{
            border-right: none;
        }

        .letsworktogether__wrapper{
            display: none;
        }
    
    
        /* BOOK - END */
}

@media(max-width:800px){

    /* LOGO-START */

    .logo{
        width: 90%;
    }

    /* LOGO-END */
    /* NAVS- END */

    .social-ul{
        margin:10px 0 0 -20px;
    }
    
    .navigation-ul{
        margin:10px 0 0 70px;
    }

    .navigation-ul li{
        margin-right: 30px;
    }
    /* NAVS - END */
}

@media(max-width:700px){

    /* NAVS- START */

    .social-ul{
        margin:10px 0 0 0px;
        gap: 10px;
    }
    
    .navigation-ul{
        margin:10px 0 0 80px;
    }

    .navigation-ul li{
        margin-right: 10px;
    }
    /* NAVS - END */
}

@media(max-width:600px){

    /* PRICING - START */
    .pricing-genres__wrapper{
        margin-right: 20px;
    }
    
    .pricing-prices__wrapper{
        margin-left: 50px;
    }

    .pricing-image{
        left: 45%;
    }
    
    /* PRICING - END */



    /* NAVS- START */

    .social-ul{
        margin:10px 0 0 5px;
        gap: 8px;
    }
    
    .navigation-ul{
        margin:10px 0 0 5px;
    }

    .navigation-ul li{
        margin-right: 7px;
    }
    /* NAVS - END */
}

@media(max-width:500px){
    /* BOOK - START */
    .book-container__wrapper{
        height: 790px;
    }
    

    .contactme-image{
        left: -50px;
    }

    .form__wrapper{
        margin-left: 10px;
        margin-top: 135px;
    }

    .directmessageus__text{
        margin: 10px 0 0 10px;
    }

    /* BOOK - END */


     /* PRICING - START */
     .pricing-container__wrapper{
        display: flex;
        justify-content: center;
        margin-bottom: 300px;
    }

     .pricing-genres__wrapper{
        margin-right: 20px;
    }
    
    .pricing-prices__wrapper{
        margin-left: 50px;
    }

    .pricing-image{
        left: 45%;
    }
    
    /* PRICING - END */


    /* TESTIMONIAL - START */

    .testimonials__wrapper{
        margin:100px 0 100px 0;
        display: flex;
        overflow: auto;
    }

    .testimonial__wrapper{
        width: 600px;
    }

    .marLeft{
        margin-left: 50px;
    }

    .testimonials__wrapper .testimonial__wrapper{
        animation: none;
    }

    .client_statement{
        font-size: 12px;
        width: 250px;
        padding-left: 10px;
        line-height: 1.6;
    }

    .nameslogo{
        margin-top: -115px;
        margin-left: -40px;
        width: 300px;
    }

    .banishanameslogo{
        margin-top: -125px;
        margin-left: -70px;
        width: 300px;
    }


    .thomasnameslogo{
        margin-top: -125px;
        margin-left: -70px;
        width: 300px;
    }
    /* TESTIMONIAL - END */




    /* IMAGES HERO - START */
    .img-one{
        background-position: 60% 10%;
    }
    
    .img-two{
        background-position: 60% 10%;
    }
    
    .img-three{
        background-position: 60% 10%;
    }
    
    .img-four{
        background-position: 60% 10%;
    }


    /* IMAGES HERO - END */





    /* NAVS- START */

    .navs{ 
        display: block;
        position: absolute;
        bottom: -3px;
        left:50px;
    }

    .social-ul__smallScreen{
        display: flex;
        justify-content: end;
        list-style: none;
        margin:-28px 10px 0 0px;
        gap: 8px;
    }
    
    .navigation-ul{
        margin:-40px 0 0 40px;
    }

    .navigation-ul li button{
        font-size: 12px;
    }

    .navigation-ul li{
        margin-right: 7px;
    }
    /* NAVS - END */
}

@media(max-width:418px){
    /* PRICING - START */
    .pricing-container__wrapper{
        margin-bottom: 370px;
    }

    .pricing-genres__wrapper ul li{
        font-size: 15px;
    }

    .pricing-prices__wrapper ul li{
        font-size: 15px;
    }

    .mt-5{
        margin-top: 59px;
    }
    
    
    /* PRICING - END */




     /* TESTIMONIAL - START */

     .testimonials__wrapper{
        margin:100px 0 100px 0;
        display: flex;
        overflow: auto;
    }

    .testimonial__wrapper{
        width: 500px;
    }

    .marLeft{
        margin-left: 50px;
    }

    .testimonials__wrapper .testimonial__wrapper{
        animation: none;
    }

    .client_statement{
        font-size: 12px;
        width: 250px;
        padding-left: 10px;
        line-height: 1.6;
    }

    .nameslogo{
        margin-top: -115px;
        margin-left: -40px;
        width: 300px;
    }

    .banishanameslogo{
        margin-top: -125px;
        margin-left: -70px;
        width: 300px;
    }


    .thomasnameslogo{
        margin-top: -125px;
        margin-left: -70px;
        width: 300px;
    }
    /* TESTIMONIAL - END */

    

    /* NAVS- START */

    .navs{ 
        display: block;
        position: absolute;
        bottom: -3px;
        left:50px;
    }

    .social-ul__smallScreen{
        display: flex;
        justify-content: end;
        list-style: none;
        margin:-28px 10px 0 0px;
        gap: 8px;
    }
    
    .navigation-ul{
        margin:-40px 0 0 10px;
    }

    .navigation-ul li button{
        font-size: 12px;
    }

    .navigation-ul li{
        margin-right: 7px;
    }
    /* NAVS - END */
}

@media(max-width:389px){
    /* BOOK - START */

    .contactme-image{
        top:-50px;
        left: -37px;
        width: 300px;
    }

    /* BOOK - END */


     /* PRICING - START */
     .pricing-container__wrapper{
        margin-bottom: 370px;
    }

     .pricing-genres__wrapper{
        margin-right: 10px;
    }
    
    .pricing-prices__wrapper{
        margin-left: 10px;
    }

    .pricing-image{
        top: 20px;
        left: 45%;
        width: 120px;
    }
    
    /* PRICING - END */



    /* NAVS- START */

    .navs{ 
        display: block;
        position: absolute;
        bottom: -3px;
        left:50px;
    }

    .social-ul__smallScreen{
        display: flex;
        justify-content: end;
        list-style: none;
        margin:-28px 10px 0 0px;
        gap: 8px;
    }
    
    .navigation-ul{
        margin:-55px 0 0 0px;
    }

    .navigation-ul li:nth-child(4){
        position: absolute;
        left: 0;
        bottom: 5px;
    }

    .navigation-ul li:nth-child(5){
        position: absolute;
        left: 90px;
        bottom: 5px;
    }


    .navigation-ul li button{
        font-size: 12px;
    }

    .navigation-ul li{
        margin-right: 7px;
    }
    /* NAVS - END */
}

@media(max-width:265px){
    /* BOOK - START */
    .contactme-image{
        top:50px;
        left: -22px;
        width: 200px;
    }

    /* BOOK - END */
}

@media(max-width:235px){
    /* NAVS- START */

    .navs{ 
        display: block;
        position: absolute;
        bottom: -3px;
        left:50px;
    }

    .social-ul__smallScreen{
        display: flex;
        justify-content: end;
        list-style: none;
        margin:-28px 10px 0 0px;
        gap: 8px;
    }
    
    .navigation-ul{
        margin:-55px 0 0 -10px;
    }

    .navigation-ul li:nth-child(4){
        position: absolute;
        left: -10px;
        bottom: 5px;
    }

    .navigation-ul li:nth-child(5){
        position: absolute;
        left: 80px;
        bottom: 5px;
    }


    .navigation-ul li button{
        font-size: 12px;
    }

    .navigation-ul li{
        margin-right: 7px;
    }
    /* NAVS - END */
}

@media(max-width:178px){
     /* BOOK - START */
     .contactme-image{
        display: none;
    }

    /* BOOK - END */
}