
@media(max-width:1600px){
    /* PREVIEW - START */
    .main-container{
        display: grid;
        grid-template-columns: repeat(3, 350px);
    }
    /* PREVIEW - END */



    /* GALLERY - START */

    .event-albums__wrapper{
        display: grid;
        grid-template-columns: repeat(4, 320px);
    } 

    /* GALLERY - END */
}

@media(max-width:1525px){
    /* GALLERY - START */
    .couple-albums__wrapper{
        display: grid;
        grid-template-columns: repeat(4, 310px);
    }

    .family-albums__wrapper{
        display: grid;
        grid-template-columns: repeat(4, 305px);
    } 

    .engagement-albums__wrapper{
        display: grid;
        grid-template-columns: repeat(4, 305px);
    }

    /* GALLERY - END */
}

@media(max-width:1500px){

    /* IMAGES HERO - START */
    .img-one{
        height: 915px;
        width: 100%;
    }
    
    .img-two{
        height: 915px;
        width: 100%;
    }
    
    .img-three{
        height: 915px;
        width: 100%;
    }
    
    .img-four{
        height: 915px;
        width: 100%;
    }

    .arr-right{
        top: 40.5%;
        right: 10px;
        
    }
    
    .arr-left{
        left: 10px;
        
    }

    /* IMAGES HERO - END */

    /* NAVS- START */

    .social-ul{
        margin:10px 0 0 50px;
    }
    
    .navigation-ul{
        margin:10px 0 0 105px;
    }

    .navigation-ul li{
        margin-right: 100px;
    }

    /* NAVS - END */


}

@media(max-width:1400px){

    /* NAVS- END */

    .social-ul{
        margin:10px 0 0 10px;
    }
    
    .navigation-ul{
        margin:10px 0 0 110px;
    }
    /* NAVS - END */


    /* GALLERY - START */
    .couple-albums__wrapper{
        display: grid;
        grid-template-columns: repeat(3, 310px);
    }

    .family-albums__wrapper{
        display: grid;
        grid-template-columns: repeat(4, 305px);
    } 

    .event-albums__wrapper{
        display: grid;
        grid-template-columns: repeat(4, 305px);
    }

    /* GALLERY - END */
}

@media(max-width:1346px){

    /* GALLERY - START */
    .family-albums__wrapper{
        display: grid;
        grid-template-columns: repeat(3, 305px);
        grid-template-rows: repeat(2, 220px);
    } 

    .kaire-taiwhanga__wrapper{
        height: 200px;
        width: 300px;
    
        margin-top: 20px;
    }
    
    .kaire-taiwhanga__wrapper:hover > .contents{
        height: 185px;
        width: 300px;
        margin-top: 8px;
        padding-top: 26.3%;
        background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.4));
    }

    .engagement-albums__wrapper{
        display: grid;
        grid-template-columns: repeat(3, 305px);
        grid-template-rows: repeat(2, 220px);
    }

    .event-albums__wrapper{
        display: grid;
        grid-template-columns: repeat(3, 305px);
        grid-template-rows: repeat(2, 220px);
    }


    /* GALLERY - END */
}

@media(max-width:1300px){

    /* BOOK - START */
    .together-image{
        top: 40%;
        left: 50%;

        width: 400px;
     }
     
     .letswork-image{
        top: 25%;
        left: 50%;

        width: 400px;
     }


    /* BOOK - END */

    /* NAVS- END */

    .social-ul{
        margin:10px 0 0 10px;
    }
    
    .navigation-ul{
        margin:10px 0 0 70px;
    }
    /* NAVS - END */
}

@media(max-width:1253px){
    /* PREVIEW GALLERY - START */

    @media(max-width:1600px){
        .main-container{
            display: grid;
            grid-template-columns: repeat(2, 350px);
        }

    }

    /* PREVIEW GALLERY - END */


    /* NAVS- END */

    .social-ul{
        margin:10px 0 0 10px;
    }
    
    .navigation-ul{
        margin:10px 0 0 90px;
    }

    .navigation-ul li button{
        font-size: 15px;
    }
    /* NAVS - END */
}

@media(max-width:1200px){

    
    
    /* NAVS- END */

    .social-ul{
        margin:10px 0 0 10px;
    }
    
    .navigation-ul{
        margin:10px 0 0 40px;
    }
    /* NAVS - END */


    /* GALLERY - START */

    .backbtncouplealbum{
        top: 18px;
        left: 200px;
    }

    .comingsoon__wrapper{
        margin-left: 100px;
    }

    /* GALLERY - END */
}

@media(max-width:1120px){

    /* BOOK - START */
    .together-image{
        top: 40%;
        left: 55%;

        width: 400px;
     }
     
     .letswork-image{
        top: 25%;
        left: 55%;

        width: 400px;
     }


    /* BOOK - END */

    
    /* NAVS- END */

    .social-ul{
        margin:10px 0 0 0px;
    }
    
    .navigation-ul{
        margin:10px 0 0 50px;
    }

    .navigation-ul li{
        margin-right: 90px;
    }
    /* NAVS - END */
}

@media(max-width:1059px){
    
    /* NAVS- END */

    .social-ul{
        margin:10px 0 0 0px;
    }
    
    .navigation-ul{
        margin:10px 0 0 90px;
    }

    .navigation-ul li{
        margin-right: 70px;
    }
    /* NAVS - END */

    /* GALLERY - START */
    .gallery{
        width: 80vw;
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
        padding: 0 12px;
        overflow-y: auto;
    }

    .couple-albums__wrapper{
        display: grid;
        grid-template-columns: repeat(3, 250px);
    }

    .contents{
        padding-top: 20%;
        text-align: center;
    }


    .erinwayne__wrapper{
        height: 150px;
        width: 300px;
        margin-top: 20px;
    }
    
    .erinwayne__wrapper:hover > .contents{
        height: 149px;
        width: 245px;
        margin-top: 0px;
        margin-left: 27px;
        padding-top: 20%;
    }
    
    
    .banishathomas__wrapper{
        height: 150px;
        width: 300px;
    
        margin-top: 20px;
    }
    
    .banishathomas__wrapper:hover > .contents{
        height: 149px;
        width: 245px;
        margin-top: 0px;
        margin-left: 27px;
        padding-top: 20%;
    }
    
    
    .emmajono__wrapper{
        height: 150px;
        width: 300px;
    
        margin-top: 20px;
    } 
    
    .emmajono__wrapper:hover > .contents{
        height: 149px;
        width: 245px;
        margin-top: 0px;
        margin-left: 27px;
        padding-top: 20%;
    } 
    
    .laryjack__wrapper{
        height: 150px;
        width: 300px;
    
        margin-top: 20px;
    } 
    
    .laryjack__wrapper:hover > .contents{
        height: 149px;
        width: 245px;
        margin-top: 0px;
        margin-left: 27px;
        padding-top: 20%;
    } 
    
    .sheenaben__wrapper{
        height: 150px;
        width: 300px;
    
        margin-top: 20px;
    } 
    
    .sheenaben__wrapper:hover > .contents{
        height: 149px;
        width: 245px;
        margin-top: 0px;
        margin-left: 27px;
        padding-top: 20%;
    }
    
    
    .tiaraaaron__wrapper{
        height: 150px;
        width: 300px;
    
        margin-top: 20px;
    }
    
    .tiaraaaron__wrapper:hover > .contents{
        height: 149px;
        width: 245px;
        margin-top: 0px;
        margin-left: 27px;
        padding-top: 20%;
    }




    .family-albums__wrapper{
        display: grid;
        grid-template-columns: repeat(3, 255px);
        grid-template-rows: repeat(2, 200px);
    } 

    .kaire-taiwhanga__wrapper{
        height: 150px;
        width: 300px;
    
        margin-top: 20px;
    }
    
    .kaire-taiwhanga__wrapper:hover > .contents{
        height: 149px;
        width: 245px;
        margin-top: 0px;
        margin-left: 27px;
        padding-top: 20%;
    }


    .engagement-albums__wrapper{
        display: grid;
        grid-template-columns: repeat(3, 255px);
        grid-template-rows: repeat(2, 200px);
    }

        /* GALLERY EVENT - START */

        .event-albums__wrapper{
            display: grid;
            grid-template-columns: repeat(3, 250px);
            grid-template-rows: repeat(2, 200px);
        }

        .mariabday__wrapper{
            height: 150px;
            width: 300px;
        
            margin-top: 20px;
        }
        
        .mariabday__wrapper:hover > .contents{
            height: 149px;
            width: 245px;
            margin-top: 0px;
            margin-left: 27px;
            padding-top: 20%;
        }
        
        .aidens__wrapper{
            height: 150px;
            width: 300px;
        
            margin-top: 20px;
        }
        
        .aidens__wrapper:hover > .contents{
            height: 149px;
            width: 245px;
            margin-top: 0px;
            margin-left: 27px;
            padding-top: 20%;
        }
        

        /* GALLERY EVENT - END */

    /* GALLERY - END */
}

@media(max-width:982px){

    
    /* NAVS- END */

    .social-ul{
        margin:10px 0 0 0px;
    }
    
    .navigation-ul{
        margin:10px 0 0 100px;
    }

    .navigation-ul li{
        margin-right: 50px;
    }
    /* NAVS - END */


    /* GALLERY - START */
    
    .comingsoon__wrapper{
        margin-left: 0px;
    }

    /* GALLERY - END */
}

@media(max-width:900px){
    /* PREVIEW GALLERY - START */

    @media(max-width:1600px){
        .main-container{
            display: grid;
            grid-template-columns: repeat(2, 350px);

            padding-left: 125px;
        }

    }

    /* PREVIEW GALLERY - END */


    /* BOOK - START */
    .together-image{
        top: 40%;
        left: 59%;

        width: 300px;
    }
    
    .letswork-image{
        top: 25%;
        left: 59%;

        width: 300px;
    }


    /* BOOK - END */

    
    /* NAVS- END */

    .social-ul{
        margin:10px 0 0 -20px;
    }
    
    .navigation-ul{
        margin:10px 0 0 110px;
    }

    .navigation-ul li{
        margin-right: 40px;
    }
    /* NAVS - END */




    /* GALLERY - START */
    .gallery{
        width: 80vw;
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
        padding: 0 12px;
        overflow-y: auto;
    }

    .couple-albums__wrapper{
        display: grid;
        grid-template-columns: repeat(3, 200px);
    }

    .contents{
        padding-top: 15%;
        text-align: center;
    }


    .erinwayne__wrapper{
        height: 120px;
        width: 300px;
        margin-top: 20px;
    }
    
    .erinwayne__wrapper:hover > .contents{
        height: 120px;
        width: 196px;
        margin-top: 0px;
        margin-left: 52px;
        padding-top: 15%;
    }
    
    
    .banishathomas__wrapper{
        height: 120px;
        width: 300px;
        margin-top: 20px;
    }
    
    .banishathomas__wrapper:hover > .contents{
        height: 120px;
        width: 196px;
        margin-top: 0px;
        margin-left: 52px;
        padding-top: 15%;
    }
    
    
    .emmajono__wrapper{
        height: 120px;
        width: 300px;
        margin-top: 20px;
    } 
    
    .emmajono__wrapper:hover > .contents{
        height: 120px;
        width: 196px;
        margin-top: 0px;
        margin-left: 52px;
        padding-top: 15%;
    } 
    
    .laryjack__wrapper{
        height: 120px;
        width: 300px;
        margin-top: 20px;
    } 
    
    .laryjack__wrapper:hover > .contents{
        height: 120px;
        width: 196px;
        margin-top: 0px;
        margin-left: 52px;
        padding-top: 15%;
    } 
    
    .sheenaben__wrapper{
        height: 120px;
        width: 300px;
        margin-top: 20px;
    } 
    
    .sheenaben__wrapper:hover > .contents{
        height: 120px;
        width: 196px;
        margin-top: 0px;
        margin-left: 52px;
        padding-top: 15%;
    }
    
    
    .tiaraaaron__wrapper{
        height: 120px;
        width: 300px;
        margin-top: 20px;
    }
    
    .tiaraaaron__wrapper:hover > .contents{
        height: 120px;
        width: 196px;
        margin-top: 0px;
        margin-left: 52px;
        padding-top: 15%;
    }



    .family-albums__wrapper{
        display: grid;
        grid-template-columns: repeat(3, 205px);
        grid-template-rows: repeat(2, 150px);
    } 

    .kaire-taiwhanga__wrapper{
        height: 120px;
        width: 300px;
        margin-top: 20px;
    }
    
    .kaire-taiwhanga__wrapper:hover > .contents{
        height: 120px;
        width: 196px;
        margin-top: 0px;
        margin-left: 52px;
        padding-top: 15%;
    }


    .engagement-albums__wrapper{
        display: grid;
        grid-template-columns: repeat(3, 205px);
        grid-template-rows: repeat(2, 150px);
    }
    

            /* GALLERY EVENT - START */

            .event-albums__wrapper{
                display: grid;
                grid-template-columns: repeat(3, 200px);
                grid-template-rows: repeat(2, 150px);
            }
    
            .mariabday__wrapper{
                height: 120px;
                width: 300px;
                margin-top: 20px;
            }
            
            .mariabday__wrapper:hover > .contents{
                height: 120px;
                width: 196px;
                margin-top: 0px;
                margin-left: 52px;
                padding-top: 15%;
            }
            
            .aidens__wrapper{
                height: 120px;
                width: 300px;
                margin-top: 20px;
            }
            
            .aidens__wrapper:hover > .contents{
                height: 120px;
                width: 196px;
                margin-top: 0px;
                margin-left: 52px;
                padding-top: 15%;
            }
            
    
            /* GALLERY EVENT - END */

    /* GALLERY - END */
}

@media(max-width:857px){
        /* BOOK - START */
        .book-container__wrapper{
            border-right: none;
        }

        .letsworktogether__wrapper{
            display: none;
        }
    
    
        /* BOOK - END */


        /* GALLERY - START */

        .comingsoon__wrapper{
            margin-left: -100px;
        }

        /* GALLERY - END */
}

@media(max-width:800px){

    /* LOGO-START */

    .logo{
        width: 90%;
    }

    /* LOGO-END */
    /* NAVS- END */

    .social-ul{
        margin:10px 0 0 -20px;
    }
    
    .navigation-ul{
        margin:10px 0 0 70px;
    }

    .navigation-ul li{
        margin-right: 30px;
    }
    /* NAVS - END */
}

@media(max-width:775px){
    /* PREVIEW GALLERY - START */

    @media(max-width:1600px){
        .main-container{
            display: grid;
            grid-template-columns: repeat(2, 350px);

            padding-left: 50px;
        }

    }

    /* PREVIEW GALLERY - END */


    /* GALLERY - START */

    .family-albums__wrapper{
        display: grid;
        grid-template-columns: repeat(2, 205px);
        grid-template-rows: repeat(2, 150px);
    } 

    .kaire-taiwhanga__wrapper{
        height: 120px;
        width: 300px;
        margin-top: 20px;
    }
    
    .kaire-taiwhanga__wrapper:hover > .contents{
        height: 120px;
        width: 196px;
        margin-top: 0px;
        margin-left: 52px;
        padding-top: 15%;
    }


    .comingsoon__wrapper{
        margin-left: -100px;
    }

    .comingsoon-image{
        width: 550px;
    }


    /* GALLERY - END */
}

@media(max-width:730px){
    /* GALLERY - START */
    .gallery{
        width: 80vw;
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
        padding: 0 12px;
        overflow-y: auto;
    }

    .couple-albums__wrapper{
        display: grid;
        grid-template-columns: repeat(2, 200px);
    }

    .engagement-albums__wrapper{
        display: grid;
        grid-template-columns: repeat(2, 200px);
        grid-template-rows: repeat(3, 150px);
    }


    /* GALLERY EVENT - START */

    .event-albums__wrapper{
        display: grid;
        grid-template-columns: repeat(2, 200px);
        grid-template-rows: repeat(2, 150px);
    }
    

    /* GALLERY EVENT - END */
    /* GALLERY - END */
}

@media(max-width:700px){

    /* PREVIEW GALLERY - START */


    .main-container{
        display: grid;
        grid-template-columns: repeat(3, 220px);

        padding-left: 20px;
    }

    .preview-container-couples{
        width: 200px;
        height: 200px;
    }

    .preview-container-couples:hover > .content{
        padding-top: 25%;
        height: 132px;
        margin-top: 35px;
    }

    .preview-container-maternity{
        width: 200px;
        height: 200px;
    }

    .preview-container-maternity:hover > .content{
        padding-top: 25%;
        height: 132px;
        margin-top: 35px;
    }

    .preview-container{
        width: 200px;
        height: 200px;
    }

    .preview-container:hover > .content{
        padding-top: 25%;
        height: 132px;
        margin-top: 35px;
    }

    .preview-container-automotive{
        width: 200px;
        height: 200px;
    }

    .preview-container-automotive:hover > .content{
        padding-top: 25%;
        height: 132px;
        margin-top: 35px;
    }

    .preview-container-traditional{
        width: 200px;
        height: 200px;
    }

    .preview-container-traditional:hover > .content{
        padding-top: 25%;
        height: 132px;
        margin-top: 35px;
    }


    .preview-container-families{
        width: 200px;
        height: 200px;
    }

    .preview-container-families:hover > .content{
        padding-top: 25%;
        height: 132px;
        margin-top: 35px;
    }

    .preview-container-lifestyle{
        width: 200px;
        height: 200px;
    }

    .preview-container-lifestyle:hover > .content{
        padding-top: 25%;
        height: 132px;
        margin-top: 35px;
    }
    
    .preview-container-birthday{
        width: 200px;
        height: 200px;
    }

    .preview-container-birthday:hover > .content{
        padding-top: 25%;
        height: 132px;
        margin-top: 35px;
    }

    .preview-container-wedding{
        width: 200px;
        height: 200px;
    }

    .preview-container-wedding:hover > .content{
        padding-top: 25%;
        height: 132px;
        margin-top: 35px;
    }

    .preview-container-wildlife{
        width: 200px;
        height: 200px;
    }

    .preview-container-wildlife:hover > .content{
        padding-top: 25%;
        height: 132px;
        margin-top: 35px;
    }
        
    .preview-container-landscape{
        width: 200px;
        height: 200px;
    }

    .preview-container-landscape:hover > .content{
        padding-top: 25%;
        height: 132px;
        margin-top: 35px;
    }

    .preview-container-travel{
        width: 200px;
        height: 200px;
    }

    .preview-container-travel:hover > .content{
        padding-top: 25%;
        height: 132px;
        margin-top: 35px;
    }

    .preview-container-pets{
        width: 200px;
        height: 200px
    }


    .preview-container-pets:hover > .content{
        padding-top: 25%;
        height: 132px;
        margin-top: 35px;
    }

    /* PREVIEW GALLERY - END */


    /* NAVS- START */

    .social-ul{
        margin:10px 0 0 0px;
        gap: 10px;
    }
    
    .navigation-ul{
        margin:10px 0 0 80px;
    }

    .navigation-ul li{
        margin-right: 10px;
    }
    /* NAVS - END */


    /* GALLERY - START */
    .gallery{
        width: 80vw;
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 1;
        padding: 0 12px;
        overflow-y: auto;
    }
    /* GALLERY - END */
}

@media(max-width:663px){

    /* PREVIEW GALLERY - START */
    .main-container{
        display: grid;
        grid-template-columns: repeat(3, 180px);

        padding-left: 70px;
    }

    .preview-container-couples{
        width: 150px;
        height: 150px;
    }

    .preview-container-maternity{
        width: 150px;
        height: 150px;
    }

    .preview-container{
        width: 150px;
        height: 150px;
    }

    .preview-container-automotive{
        width: 150px;
        height: 150px;
    }

    .preview-container-traditional{
        width: 150px;
        height: 150px;
    }


    .preview-container-families{
        width: 150px;
        height: 150px;
    }

    .preview-container-lifestyle{
        width: 150px;
        height: 150px;
    }
    
    .preview-container-birthday{
        width: 150px;
        height: 150px;
    }

    .preview-container-wedding{
        width: 150px;
        height: 150px;
    }

    .preview-container-wildlife{
        width: 150px;
        height: 150px;
    }
        
    .preview-container-landscape{
        width: 150px;
        height: 150px;
    }

    .preview-container-travel{
        width: 150px;
        height: 150px;
    }

    .preview-container-pets{
        width: 150px;
        height: 150px
    }


    .preview-container-couples:hover > .content{
        padding-top: 23%;
        height: 100px;
        margin-top: 25px;
    }
    .preview-container-maternity:hover > .content{
        padding-top: 23%;
        height: 100px;
        margin-top: 25px;
    }
    .preview-container:hover > .content{
        padding-top: 23%;
        height: 100px;
        margin-top: 25px;
    }
    .preview-container-automotive:hover > .content{
        padding-top: 23%;
        height: 100px;
        margin-top: 25px;
    }
    .preview-container-traditional:hover > .content{
        padding-top: 23%;
        height: 100px;
        margin-top: 25px;
    }
    .preview-container-families:hover > .content{
        padding-top: 23%;
        height: 100px;
        margin-top: 25px;
    }
    .preview-container-lifestyle:hover > .content{
        padding-top: 23%;
        height: 100px;
        margin-top: 25px;
    }
    .preview-container-birthday:hover > .content{
        padding-top: 23%;
        height: 100px;
        margin-top: 25px;
    }
    .preview-container-wedding:hover > .content{
        padding-top: 23%;
        height: 100px;
        margin-top: 25px;
    }
    .preview-container-wildlife:hover > .content{
        padding-top: 23%;
        height: 100px;
        margin-top: 25px;
    }
    .preview-container-landscape:hover > .content{
        padding-top: 23%;
        height: 100px;
        margin-top: 25px;
    }
    .preview-container-travel:hover > .content{
        padding-top: 23%;
        height: 100px;
        margin-top: 25px;
    }
    .preview-container-pets:hover > .content{
        padding-top: 23%;
        height: 100px;
        margin-top: 25px;
    }
    /* PREVIEW GALLERY - END */

}

@media(max-width:600px){

    /* PREVIEW GALLERY - START */
    .main-container{
        display: grid;
        grid-template-columns: repeat(3, 160px);

        padding-left: 20px;
    }

    .preview-container-couples{
        width: 150px;
        height: 150px;
    }

    .preview-container-maternity{
        width: 150px;
        height: 150px;
    }

    .preview-container{
        width: 150px;
        height: 150px;
    }

    .preview-container-automotive{
        width: 150px;
        height: 150px;
    }

    .preview-container-traditional{
        width: 150px;
        height: 150px;
    }


    .preview-container-families{
        width: 150px;
        height: 150px;
    }

    .preview-container-lifestyle{
        width: 150px;
        height: 150px;
    }
    
    .preview-container-birthday{
        width: 150px;
        height: 150px;
    }

    .preview-container-wedding{
        width: 150px;
        height: 150px;
    }

    .preview-container-wildlife{
        width: 150px;
        height: 150px;
    }
        
    .preview-container-landscape{
        width: 150px;
        height: 150px;
    }

    .preview-container-travel{
        width: 150px;
        height: 150px;
    }

    .preview-container-pets{
        width: 150px;
        height: 150px
    }
    /* PREVIEW GALLERY - END */

    /* PRICING - START */
    .pricing-genres__wrapper{
        margin-right: 20px;
    }
    
    .pricing-prices__wrapper{
        margin-left: 50px;
    }

    .pricing-image{
        left: 45%;
    }
    
    /* PRICING - END */



    /* NAVS- START */

    .social-ul{
        margin:10px 0 0 5px;
        gap: 8px;
    }
    
    .navigation-ul{
        margin:10px 0 0 5px;
    }

    .navigation-ul li{
        margin-right: 7px;
    }
    /* NAVS - END */


     /* GALLERY - START */

     .backbtncouplealbum{
        top: 18px;
        left: 130px;
    }



    .comingsoon__wrapper{
        margin-left: -70px;
    }

    .comingsoon-image{
        width: 450px;
    }

    /* GALLERY - END */
}

@media(max-width:530px){
    /* GALLERY - START */
    .gallery{
        width: 80vw;
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
        padding: 0 12px;
        overflow-y: auto;
    }

    .couple-albums__wrapper{
        display: grid;
        grid-template-columns: repeat(1, 200px);
    }





    .family-albums__wrapper{
        display: grid;
        grid-template-columns: repeat(1, 195px);
        grid-template-rows: repeat(3, 150px);
    } 

    .kaire-taiwhanga__wrapper{
        height: 120px;
        width: 300px;
        margin-top: 20px;
    }
    
    .kaire-taiwhanga__wrapper:hover > .contents{
        height: 120px;
        width: 196px;
        margin-top: 0px;
        margin-left: 52px;
        padding-top: 15%;
    }


    .engagement-albums__wrapper{
        display: grid;
        grid-template-columns: repeat(1, 195px);
        grid-template-rows: repeat(3, 150px);
    }



    /* GALLERY EVENT - START */

    .event-albums__wrapper{
        display: grid;
        grid-template-columns: repeat(1, 195px);
        grid-template-rows: repeat(3, 150px);
    }

    .mariabday__wrapper{
        height: 120px;
        width: 300px;
        margin-top: 20px;
    }
    
    .mariabday__wrapper:hover > .contents{
        height: 120px;
        width: 196px;
        margin-top: 0px;
        margin-left: 52px;
        padding-top: 15%;
    }
    
    .aidens__wrapper{
        height: 120px;
        width: 300px;
        margin-top: 20px;
    }
    
    .aidens__wrapper:hover > .contents{
        height: 120px;
        width: 196px;
        margin-top: 0px;
        margin-left: 52px;
        padding-top: 15%;
    }
    

    /* GALLERY EVENT - END */

    /* GALLERY - END */
}

@media(max-width:500px){
    /* PREVIEW GALLERY - START */
    .main-container{
        display: grid;
        grid-template-columns: repeat(3, 130px);

        padding-left: 50px;
    }

    .preview-container-couples{
        width: 120px;
        height: 120px;
    }

    .preview-container-maternity{
        width: 120px;
        height: 120px;
    }

    .preview-container{
        width: 120px;
        height: 120px;
    }

    .preview-container-automotive{
        width: 120px;
        height: 120px;
    }

    .preview-container-traditional{
        width: 120px;
        height: 120px;
    }


    .preview-container-families{
        width: 120px;
        height: 120px;
    }

    .preview-container-lifestyle{
        width: 120px;
        height: 120px;
    }
    
    .preview-container-birthday{
        width: 120px;
        height: 120px;
    }

    .preview-container-wedding{
        width: 120px;
        height: 120px;
    }

    .preview-container-wildlife{
        width: 120px;
        height: 120px;
    }
        
    .preview-container-landscape{
        width: 120px;
        height: 120px;
    }

    .preview-container-travel{
        width: 120px;
        height: 120px;
    }

    .preview-container-pets{
        width: 120px;
        height: 120px
    }


    .preview-container-couples:hover > .content{
        padding-top: 22%;
        height: 80px;
        margin-top: 20px;
    }
    .preview-container-maternity:hover > .content{
        padding-top: 22%;
        height: 80px;
        margin-top: 20px;
    }
    .preview-container:hover > .content{
        padding-top: 22%;
        height: 80px;
        margin-top: 20px;
    }
    .preview-container-automotive:hover > .content{
        padding-top: 22%;
        height: 80px;
        margin-top: 20px;
    }
    .preview-container-traditional:hover > .content{
        padding-top: 22%;
        height: 80px;
        margin-top: 20px;
    }
    .preview-container-families:hover > .content{
        padding-top: 22%;
        height: 80px;
        margin-top: 20px;
    }
    .preview-container-lifestyle:hover > .content{
        padding-top: 22%;
        height: 80px;
        margin-top: 20px;
    }
    .preview-container-birthday:hover > .content{
        padding-top: 22%;
        height: 80px;
        margin-top: 20px;
    }
    .preview-container-wedding:hover > .content{
        padding-top: 22%;
        height: 80px;
        margin-top: 20px;
    }
    .preview-container-wildlife:hover > .content{
        padding-top: 22%;
        height: 80px;
        margin-top: 20px;
    }
    .preview-container-landscape:hover > .content{
        padding-top: 22%;
        height: 80px;
        margin-top: 20px;
    }
    .preview-container-travel:hover > .content{
        padding-top: 22%;
        height: 80px;
        margin-top: 20px;
    }
    .preview-container-pets:hover > .content{
        padding-top: 22%;
        height: 80px;
        margin-top: 20px;
    }
    /* PREVIEW GALLERY - END */




    /* PRICING - START */
    .pricing-genres__wrapper{
        margin-right: 20px;
    }
    
    .pricing-prices__wrapper{
        margin-left: 50px;
    }

    .pricing-image{
        left: 45%;
    }
    
    /* PRICING - END */



    /* BOOK - START */
    .book-container__wrapper{
        height: 790px;
    }
    

    .contactme-image{
        left: -50px;
    }

    .form__wrapper{
        margin-left: 10px;
        margin-top: 135px;
    }

    .directmessageus__text{
        margin: 10px 0 0 10px;
    }

    /* BOOK - END */


     /* PRICING - START */
     .pricing-container__wrapper{
        display: flex;
        justify-content: center;
        margin-bottom: 300px;
    }

     .pricing-genres__wrapper{
        margin-right: 20px;
    }
    
    .pricing-prices__wrapper{
        margin-left: 50px;
    }

    .pricing-image{
        left: 45%;
    }
    
    /* PRICING - END */


    /* TESTIMONIAL - START */

    .testimonials__wrapper{
        margin:100px 0 100px 0;
        display: flex;
        overflow: auto;
    }

    .testimonial__wrapper{
        width: 600px;
    }

    .marLeft{
        margin-left: 50px;
    }

    .testimonials__wrapper .testimonial__wrapper{
        animation: none;
    }

    .client_statement{
        font-size: 12px;
        width: 250px;
        padding-left: 10px;
        line-height: 1.6;
    }

    .nameslogo{
        margin-top: -115px;
        margin-left: -40px;
        width: 300px;
    }

    .banishanameslogo{
        margin-top: -125px;
        margin-left: -70px;
        width: 300px;
    }


    .thomasnameslogo{
        margin-top: -125px;
        margin-left: -70px;
        width: 300px;
    }
    /* TESTIMONIAL - END */




    /* IMAGES HERO - START */
    .img-one{
        background-position: 60% 10%;
    }
    
    .img-two{
        background-position: 60% 10%;
    }
    
    .img-three{
        background-position: 60% 10%;
    }
    
    .img-four{
        background-position: 60% 10%;
    }


    /* IMAGES HERO - END */





    /* NAVS- START */

    .navs{ 
        display: block;
        position: absolute;
        bottom: -3px;
        left:50px;
    }

    .social-ul__smallScreen{
        display: flex;
        justify-content: end;
        list-style: none;
        margin:-28px 10px 0 0px;
        gap: 8px;
    }
    
    .navigation-ul{
        margin:-40px 0 0 40px;
    }

    .navigation-ul li button{
        font-size: 12px;
    }

    .navigation-ul li{
        margin-right: 7px;
    }
    /* NAVS - END */



    /* GALLERY - START */

    .comingsoon__wrapper{
        margin: 50px 0 0 -70px;
    }

    .comingsoon-image{
        width: 350px;
    }

    /* GALLERY - END */
}

@media(max-width:431px){
    /* PREVIEW GALLERY - START */
    .main-container{
        display: grid;
        grid-template-columns: repeat(2, 130px);

        padding-left: 80px;
    }
    /* PREVIEW GALLERY - END */
}

@media(max-width:418px){
    /* PRICING - START */
    .pricing-container__wrapper{
        margin-bottom: 370px;
    }

    .pricing-genres__wrapper ul li{
        font-size: 15px;
    }

    .pricing-prices__wrapper ul li{
        font-size: 15px;
    }

    .mt-5{
        margin-top: 59px;
    }
    
    
    /* PRICING - END */




     /* TESTIMONIAL - START */

     .testimonials__wrapper{
        margin:100px 0 100px 0;
        display: flex;
        overflow: auto;
    }

    .testimonial__wrapper{
        width: 500px;
    }

    .marLeft{
        margin-left: 50px;
    }

    .testimonials__wrapper .testimonial__wrapper{
        animation: none;
    }

    .client_statement{
        font-size: 12px;
        width: 250px;
        padding-left: 10px;
        line-height: 1.6;
    }

    .nameslogo{
        margin-top: -115px;
        margin-left: -40px;
        width: 300px;
    }

    .banishanameslogo{
        margin-top: -125px;
        margin-left: -70px;
        width: 300px;
    }


    .thomasnameslogo{
        margin-top: -125px;
        margin-left: -70px;
        width: 300px;
    }
    /* TESTIMONIAL - END */

    

    /* NAVS- START */

    .navs{ 
        display: block;
        position: absolute;
        bottom: -3px;
        left:50px;
    }

    .social-ul__smallScreen{
        display: flex;
        justify-content: end;
        list-style: none;
        margin:-28px 10px 0 0px;
        gap: 8px;
    }
    
    .navigation-ul{
        margin:-40px 0 0 10px;
    }

    .navigation-ul li button{
        font-size: 12px;
    }

    .navigation-ul li{
        margin-right: 7px;
    }
    /* NAVS - END */
}

@media(max-width:389px){
    /* PREVIEW GALLERY - START */
    .main-container{
        display: grid;
        grid-template-columns: repeat(2, 130px);

        padding-left: 40px;
    }
    /* PREVIEW GALLERY - END */



    /* BOOK - START */

    .contactme-image{
        top:-50px;
        left: -37px;
        width: 300px;
    }

    /* BOOK - END */


     /* PRICING - START */
     .pricing-container__wrapper{
        margin-bottom: 370px;
    }

     .pricing-genres__wrapper{
        margin-right: 10px;
    }
    
    .pricing-prices__wrapper{
        margin-left: 10px;
    }

    .pricing-image{
        top: 20px;
        left: 45%;
        width: 120px;
    }
    
    /* PRICING - END */



    /* NAVS- START */

    .navs{ 
        display: block;
        position: absolute;
        bottom: -3px;
        left:50px;
    }

    .social-ul__smallScreen{
        display: flex;
        justify-content: end;
        list-style: none;
        margin:-28px 10px 0 0px;
        gap: 8px;
    }
    
    .navigation-ul{
        margin:-55px 0 0 0px;
    }

    .navigation-ul li:nth-child(4){
        position: absolute;
        left: 0;
        bottom: 5px;
    }

    .navigation-ul li:nth-child(5){
        position: absolute;
        left: 90px;
        bottom: 5px;
    }


    .navigation-ul li button{
        font-size: 12px;
    }

    .navigation-ul li{
        margin-right: 7px;
    }
    /* NAVS - END */

    /* GALLERY - START */

    .comingsoon__wrapper{
        margin: 150px 0 0 -50px;
    }

    .comingsoon-image{
        width: 230px;
    }

    .album-lists{
        width: 100px;
    }

    /* GALLERY - END */
}

@media(max-width:300px){
    /* PREVIEW GALLERY - START */
    .main-container{
        display: grid;
        grid-template-columns: repeat(2, 125px);

        padding-left: 20px;
    }
    /* PREVIEW GALLERY - END */

    /* GALLERY - START */

    .album-lists li button{
        font-size: 10px;
    }

     .backbtncouplealbum{
        font-size: 10px;
        top: 18px;
        left: 90px;
    }

    .comingsoon__wrapper{
        margin: 150px 0 0 -40px;
    }

    .comingsoon-image{
        width: 170px;
    }

    /* GALLERY - END */

}

@media(max-width:265px){
    /* PREVIEW GALLERY - START */
    .main-container{
        display: grid;
        grid-template-columns: repeat(1, 125px);

        padding-left: 70px;
    }
    /* PREVIEW GALLERY - END */



    /* BOOK - START */
    .contactme-image{
        top:50px;
        left: -22px;
        width: 200px;
    }

    /* BOOK - END */


    /* GALLERY - START */
    .comingsoon__wrapper{
        margin: 170px 0 0 -35px;
    }

    .comingsoon-image{
        width: 150px;
    }

    /* GALLERY - END */
}

@media(max-width:235px){
    /* PREVIEW GALLERY - START */
    .main-container{
        display: grid;
        grid-template-columns: repeat(1, 125px);

        padding-left: 50px;
    }
    /* PREVIEW GALLERY - END */


    /* NAVS- START */

    .navs{ 
        display: block;
        position: absolute;
        bottom: -3px;
        left:50px;
    }

    .social-ul__smallScreen{
        display: flex;
        justify-content: end;
        list-style: none;
        margin:-28px 10px 0 0px;
        gap: 8px;
    }
    
    .navigation-ul{
        margin:-55px 0 0 -10px;
    }

    .navigation-ul li:nth-child(4){
        position: absolute;
        left: -10px;
        bottom: 5px;
    }

    .navigation-ul li:nth-child(5){
        position: absolute;
        left: 80px;
        bottom: 5px;
    }


    .navigation-ul li button{
        font-size: 12px;
    }

    .navigation-ul li{
        margin-right: 7px;
    }
    /* NAVS - END */
}

@media(max-width:178px){
    /* PREVIEW GALLERY - START */
    .main-container{
        display: grid;
        grid-template-columns: repeat(1, 125px);

        padding-left: 20px;
    }
    /* PREVIEW GALLERY - END */



     /* BOOK - START */
     .contactme-image{
        display: none;
    }

    /* BOOK - END */
}