    .testimonials__wrapper{
        margin:100px 0 100px 360px;
        display: flex;
    }


    .testimonial__wrapper{
        display: flex;
    }

    .client_statement{
        width: 500px;
        padding-left: 50px;
        line-height: 1.6;
    }

    .nameslogo{
        /* position: absolute;
        top:205px;
        right: 250px; */
        margin-top: -195px;
        margin-left: 60px;
    }

    .marLeft{
        margin-left: 250px;
    }