    .testimonials__wrapper{
        margin:100px 0 100px 0;
        display: flex;
        overflow: hidden;
    }


    .testimonial__wrapper{
        display: flex;
    }

    .client_statement{
        width: 500px;
        padding-left: 50px;
        line-height: 1.6;
    }

    .nameslogo{
        /* position: absolute;
        top:205px;
        right: 250px; */

        /* margin-top: -195px;
        margin-left: 60px; */

        margin-top: -155px;
        margin-left: 100px;
        width: 400px;
    }

    .banishanameslogo{
        margin-top: -155px;
        margin-left: 150px;
        width: 400px;
    }


    .thomasnameslogo{
        margin-top: -155px;
        margin-left: 150px;
        width: 400px;
    }


    .marLeft{
        margin-left: 350px;
    }


    /* ADD AFTER ALL TESTIMONIALS */

    @keyframes slowToTheRight{
        0%{
            transform: translateX(10%);
        }
        100%{
            transform: translateX(-640%);
        }
    }

    .testimonials__wrapper .testimonial__wrapper{
        animation: slowToTheRight 120s linear infinite;
        
        
    }
    
    .testimonials__wrapper:hover .testimonial__wrapper{
        animation-play-state: paused;
        
    }