@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
    color: #202020;
}

body{
    background-color: rgba(244,244,244,0.1);
}

.hero-title{

    font-size: 64px;
    font-weight: 600;
    letter-spacing: 3px;

    text-align: center;
    margin: 50px 0 0 0;
    color: #202020;
}

.arr-right{
    position: absolute;
    top:40%;
    right: 10px;
    z-index: 1;
    cursor: pointer;
    background-color: transparent;
    border: none;
    
}

.arr-left{
    position: absolute;
    top:40%;
    left: 10px;
    z-index: 1;
    cursor: pointer;
    background-color: transparent;
    border: none;
    
}

/* .logo-div{
    width: 100vw;
    height: 120px;
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #e2e2e2;
} */

.logo{
    position: absolute;
    top:10%;
    left:50%;
    transform: translate(-50%,-50%);
    z-index: 3;
    /* z-index: 3;
    width: 450px; */
    
}

.img-one{
    width:100vw;
    height: 920px;
    object-position: 0% 90%;
    object-fit: cover;
    animation: right-to-left 1s ease-in-out;
}

@keyframes right-to-left{
    0%{
        height: 910px;
        opacity:0.9;
    }
    100%{
        height: 920px;
        opacity: 1;
    }
}


.img-two{
    width:100vw;
    /* min-height: 100px;
    max-height:950px; */
    height: 920px;

    object-position: 0% 50%;
    object-fit: cover;
    animation: right-to-left2 1s ease-in-out;
}
@keyframes right-to-left2{
    0%{
        height: 910px;
        opacity:0.9;
    }
    100%{
        height: 920px;
        opacity: 1;
    }
}

.img-three{
    width:100vw;
    /* height: 950px; */
    height: 920px;
    object-position: 0% 1%;
    object-fit: cover;
    animation: right-to-left3 1s ease-in-out;

}
@keyframes right-to-left3{
    0%{
        height: 910px;
        opacity:0.9;
    }
    100%{
        height: 920px;
        opacity: 1;
    }
}

.img-four{
    width:100vw;
    /* height: 950px; */
    height: 920px;
    object-position: 0% 2%;
    object-fit: cover;
    animation: right-to-left4 1s ease-in-out;
}
@keyframes right-to-left4{
    0%{
        height: 910px;
        opacity:0.9;
    }
    100%{
        height: 920px;
        opacity: 1;
    }
}



/* -----------NAVIGATION UL */

.navs{
    display: flex;
    position: absolute;
    bottom: 10px;
    left:0;
}

.social-ul{
    display: flex;
    margin:10px 0 0 100px;
    gap:20px;
    list-style: none;
}
.social-ul li a {
    text-decoration: none;
}

.navigation-ul{
    display: flex;
    justify-content: start;
    list-style: none;
    font-size: 18px;
    gap:180px;
    margin:10px 0 0 280px;
    letter-spacing: 1px;
    text-transform: uppercase;
}


.nav-btns{
    background-color: transparent;
    font-size: 18px;
    cursor:pointer;
    text-transform: uppercase;
    border:none;
    text-decoration: none;
}
.nav-btns a {
    text-decoration: none;
}

.nav-btns:hover{
    border-bottom: 1px solid #202020;
    animation: underline1 0.5s ease;
    text-decoration: none;
}

@keyframes underline1{
    0%{
        border-bottom: none;

        width: 0;
    }
    100%{
        border-bottom: 1px solid #202020;

        width: 100%;
    }
}



/* ------------------ABOUT ME--------------- */

.introduction-title{
    position:absolute;
    top:-200px;
    left:0;
    width: 700px;
    z-index: -1;
}

.border-line{
    border-left: 1px solid #202020;
    position: absolute;
    top:256px;
    left:680px;
    width: 0.5px;
    height: 203px;
    z-index: 2;
}

.introduction-paragraph{

    position: absolute;
    left: 700px;
    top: 250px;
    font-size: 18px;
    width: 800px;
    line-height: 1.5;
    letter-spacing: 0.5px;
    /* border-left: 0.5px solid #202020;
    padding:20px; */
    z-index: 1;
}

.about-ul{
    position: absolute;
    top:160px;
    left:680px;
    list-style: none;
    letter-spacing: 0px;

    display: flex;
    justify-content: space-evenly;

    text-transform: uppercase;
    width: 800px;

}

.about-ul li button{
    cursor: pointer;
    font-size: 18px;
    border: none;
    background-color: transparent;
}

.active{
    text-decoration: underline;
    text-decoration-color: rgba(0,0,0,0.4);
}

/* ----------------------------------------- */